.open-in-maps-extension-button {
    opacity: 0;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    background-color: #202124;
    text-align: center;
    color: #e8eaed;
    cursor: pointer;
    left: calc(50% - 260px / 2);
    width: 218px;
    padding: 12px;
    margin: 8px;
    line-height: 24px;
    border-radius: 20px;
    text-decoration: none;
    border: 1px solid #3c4043;
    transition: opacity 0.3s ease;
}

.open-in-maps-extension-button:visited {
    color: #e8eaed;
}

.open-in-maps-extension-button--small {
    border-radius: 12px;
    border: 2px solid #3a3f50;
    box-sizing: content-box;
    color: #fff;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    margin-right: 8px;
    padding: 0 5px;
}

.open-in-maps-extension-button--small:hover, 
.open-in-maps-extension-button--small:focus, 
.open-in-maps-extension-button--small:visited {
    color: #fff;
}
    